Repository aarnphm/morph: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, bentoml, next

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (pnpm-lock.yaml|emojimap.json|migrations/)
      - id: end-of-file-fixer
        exclude: (pnpm-lock.yaml|emojimap.json|migrations/)
      - id: check-yaml
        exclude: (pnpm-lock.yaml)
      - id: check-added-large-files
        exclude: (pnpm-lock.yaml|emojimap.json|migrations/)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.2
    hooks:
      - id: ruff
        args:
          [--fix, --exit-non-zero-on-fix, --show-fixes, --config=pyproject.toml]
        files: ^python/
      - id: ruff-format
        args: [--config=pyproject.toml]
        files: ^python/
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: pnpm run -w morph:format
        language: system
        pass_filenames: false
        files: ^packages/morph/
        types: [file, javascript, jsx, ts, tsx, json, css, markdown, yaml]
        verbose: true
      - id: eslint
        name: ESLint
        entry: pnpm run -w morph:lint
        language: system
        pass_filenames: false
        files: ^packages/morph/
        types: [file, javascript, jsx, ts, tsx]
        verbose: true
      - id: bentoml
        name: BentoML build
        entry: pnpm run -w morph:inference:build
        language: system
        pass_filenames: false
        files: ^python/
        types: [file]
        verbose: true
      - id: next
        name: Next.js build
        entry: pnpm run -w morph:build
        language: system
        pass_filenames: false
        files: ^packages/morph/
        types: [file]
        verbose: true

chore: update MG
  docs/content/Design/MG.md
Due: none

docs(MG): Module Guide (#337)
  docs/content/Design/MG.md
  docs/content/images/modulediagram.png
Due: none

Reflect on Cap
  docs/content/ReflectAndTrace/ReflectAndTrace.md
Due: none

martect
  docs/content/ReflectAndTrace/ReflectAndTrace.md
Due: none

docs: update reflection and trace (#343)
  docs/content/ReflectAndTrace/ReflectAndTrace.md
Due: none

rm
  docs/content/images/modulediagram.png
Due: none

fin
  docs/content/Design/MIS.md
  docs/content/images/modulediagram.png
  docs/content/images/modules.drawio.png
Due: none

docs: update MIS hierarchy and mathematical notation (#344)
  docs/content/Design/MIS.md
  docs/content/images/modulediagram.png
  docs/content/images/modules.drawio.png
Due: none

chore: migrate to use axios
  packages/morph/context/providers.tsx
  packages/morph/lib/index.ts
  packages/morph/package.json
  packages/morph/services/agents.ts
  packages/morph/services/authors.ts
  packages/morph/services/context-aware-notes.ts
  packages/morph/services/essays.ts
  packages/morph/services/notes.ts
  pnpm-lock.yaml
Due: next

chore: --wip--
  packages/morph/components/editor.tsx
  packages/morph/components/embedding-status.tsx
  packages/morph/components/note-panel.tsx
  packages/morph/components/reasoning-panel.tsx
  packages/morph/context/steering.tsx
Due: next

--wip--
  packages/morph/app/globals.css
  packages/morph/app/template.tsx
  packages/morph/app/vaults/[vault]/page.tsx
  packages/morph/app/vaults/page.tsx
  packages/morph/components/author-processor.tsx
  packages/morph/components/dnd.tsx
  packages/morph/components/editor.tsx
  packages/morph/components/essay-embedding-processor.tsx
  packages/morph/components/formatted-date.tsx
  packages/morph/components/landing/page-transition.tsx
  packages/morph/components/markdown-inline.ts
  packages/morph/components/note-embedding-processor.tsx
  packages/morph/components/note-group.tsx
  packages/morph/components/note-panel.tsx
  packages/morph/components/parser/codemirror/index.ts
  packages/morph/components/parser/codemirror/search.tsx
  packages/morph/components/rails.tsx
  packages/morph/components/reasoning-panel.tsx
  packages/morph/context/authors.tsx
  packages/morph/context/file-restoration.tsx
  packages/morph/context/loading.tsx
  packages/morph/context/providers.tsx
  packages/morph/db/index.ts
  packages/morph/hooks/use-fs-handles.ts
  packages/morph/hooks/use-persisted-settings.tsx
  packages/morph/package.json
  packages/morph/services/authors.ts
  packages/morph/services/essays.ts
  packages/morph/services/notes.ts
  pnpm-lock.yaml
Due: next

perf: improved separation of rendering concern
  packages/morph/app/layout.tsx
  packages/morph/components/editor.tsx
  packages/morph/components/note-panel.tsx
  packages/morph/components/rails.tsx
  packages/morph/components/search-command.tsx
  packages/morph/components/ui/sonner.tsx
  packages/morph/components/ui/toast.tsx
  packages/morph/components/ui/toaster.tsx
  packages/morph/context/providers.tsx
  packages/morph/db/index.ts
  packages/morph/hooks/use-toast.ts
  packages/morph/package.json
  pnpm-lock.yaml
Due: next

chore: support models to chunk smaller nodes
  python/asteraceae/libs/protocol.py
  python/asteraceae/service.py
Due: bentoml

--wip--
  packages/morph/CLAUDE.md
  packages/morph/app/layout.tsx
  packages/morph/components/editor.tsx
  packages/morph/components/markdown-inline.ts
  packages/morph/components/note-panel.tsx
  packages/morph/components/reasoning-panel.tsx
  packages/morph/components/ui/sonner.tsx
  packages/morph/package.json
  packages/morph/services/notes.ts
  pnpm-lock.yaml
Due: next

chore: make sure restoring notes back work
  packages/morph/components/editor.tsx
  packages/morph/components/note-panel.tsx
  packages/morph/components/reasoning-panel.tsx
  packages/morph/services/essays.ts
Due: next

feat: everything now works and perf is GREEEEEEEEEAT
  packages/morph/app/vaults/[vault]/page.tsx
  packages/morph/components/editor.tsx
  packages/morph/components/note-panel.tsx
  packages/morph/context/notes.tsx
  packages/morph/context/providers.tsx
  packages/morph/db/interfaces.ts
Due: next

fix: mfs im rgard
  packages/morph/components/context-notes.tsx
  packages/morph/components/editor.tsx
  packages/morph/components/note-group.tsx
  packages/morph/components/note-panel.tsx
  packages/morph/context/loading.tsx
  packages/morph/context/notes.tsx
  packages/morph/context/steering.tsx
  packages/morph/lib/index.ts
Due: next

chore: automatically infer authors now
  python/asteraceae/service.py
Due: bentoml

chore: automatically infer authors now
  python/asteraceae/pyproject.toml
Due: bentoml

chore: support parsing authors
  packages/morph/components/author-processor.tsx
  packages/morph/components/context-notes.tsx
  packages/morph/components/editor.tsx
  packages/morph/components/note-group.tsx
  packages/morph/components/note-panel.tsx
  packages/morph/components/steering-panel.tsx
  packages/morph/services/authors.ts
  packages/morph/services/essays.ts
Due: next

chore: fix error
  packages/morph/components/editor.tsx
  packages/morph/components/note-panel.tsx
  packages/morph/components/steering-panel.tsx
  python/asteraceae/service.py
Due: bentoml, next

chore: update protocol and TP-2
  python/asteraceae/libs/protocol.py
  python/asteraceae/service.py
Due: bentoml

chore: ignoring build
  packages/morph/next.config.ts
Due: next

chore: update user docs
  docs/content/index.md
  packages/manuals/content/References.bib
  packages/manuals/content/glossary.md
  packages/manuals/content/index.md
  packages/manuals/quartz.config.ts
Due: none

chore: update header title for references file
  packages/manuals/content/index.md
Due: none

chore: update python requirements and support cors
  python/asteraceae/pyproject.toml
  python/asteraceae/service.py
  python/exo/pyproject.toml
  uv.lock
Due: bentoml

feat: not found pages
  packages/morph/app/not-found.tsx
  packages/morph/app/page.tsx
  packages/morph/app/vaults/[vault]/page.tsx
  packages/morph/components/editor.tsx
  packages/morph/components/note-panel.tsx
  packages/morph/components/reasoning-panel.tsx
  packages/morph/components/steering-panel.tsx
  packages/morph/components/ui/button.tsx
  packages/morph/context/file-restoration.tsx
  packages/morph/context/notes.tsx
  packages/morph/context/providers.tsx
  packages/morph/context/search.tsx
  packages/morph/context/vault-reducer.ts
  packages/morph/context/vault.tsx
  packages/morph/db/interfaces.ts
  packages/morph/hooks/use-database-models.ts
  packages/morph/hooks/use-fs-handles.ts
  packages/morph/package.json
  pnpm-lock.yaml
Due: next
