Repository aarnphm/morph: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, bentoml, next

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (pnpm-lock.yaml|emojimap.json|migrations/)
      - id: end-of-file-fixer
        exclude: (pnpm-lock.yaml|emojimap.json|migrations/)
      - id: check-yaml
        exclude: (pnpm-lock.yaml)
      - id: check-added-large-files
        exclude: (pnpm-lock.yaml|emojimap.json|migrations/)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.2
    hooks:
      - id: ruff
        args:
          [--fix, --exit-non-zero-on-fix, --show-fixes, --config=pyproject.toml]
        files: ^python/
      - id: ruff-format
        args: [--config=pyproject.toml]
        files: ^python/
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: pnpm run -w morph:format
        language: system
        pass_filenames: false
        files: ^packages/morph/
        types: [file, javascript, jsx, ts, tsx, json, css, markdown, yaml]
        verbose: true
      - id: eslint
        name: ESLint
        entry: pnpm run -w morph:lint
        language: system
        pass_filenames: false
        files: ^packages/morph/
        types: [file, javascript, jsx, ts, tsx]
        verbose: true
      - id: bentoml
        name: BentoML build
        entry: pnpm run -w morph:inference:build
        language: system
        pass_filenames: false
        files: ^python/
        types: [file]
        verbose: true
      - id: next
        name: Next.js build
        entry: pnpm run -w morph:build
        language: system
        pass_filenames: false
        files: ^packages/morph/
        types: [file]
        verbose: true

SRS update for trasibility matrix
  docs/content/SRS/SRS.md
Due: none

SRS update for Rev 1
  docs/content/SRS/SRS.md
Due: none

Expand reflection and add explanation to critical paths
  docs/content/VnVPlan/VnVPlan.md
Due: none

SRS update for mistakes
  docs/content/SRS/SRS.md
Due: none

Refine test case outputs to replace vague phrases with specific, verifiable results
  docs/content/VnVPlan/VnVPlan.md
Due: none

Add justification for TTFT and throughput metrics in performance section
  docs/content/VnVPlan/VnVPlan.md
Due: none

Add step for feedback iteration to validation process
  docs/content/VnVPlan/VnVPlan.md
Due: none

chore: update configuration
  python/asteraceae/libs/protocol.py
  python/asteraceae/service.py
Due: bentoml

Add detailed input test table and output evaluation checklists for functional requirements
  docs/content/VnVPlan/VnVPlan.md
Due: none

chore: update logics to parse models
  python/asteraceae/libs/protocol.py
  python/asteraceae/service.py
Due: bentoml

fix: enforce to return reasoning and search query if needed
  python/asteraceae/TOOL_CALLING.md
  python/asteraceae/service.py
Due: bentoml

feat: qwq long context
  python/asteraceae/TOOL_CALLING.md
  python/asteraceae/libs/protocol.py
  python/asteraceae/service.py
Due: bentoml

chore: add support for explicitly setup tools
  python/asteraceae/service.py
Due: bentoml

fix: override correct name for OpenAI-compatible model
  python/asteraceae/service.py
Due: bentoml

Add symbolic constants section for FR and NFR test parameters
  docs/content/VnVPlan/VnVPlan.md
Due: none

Refine KV cache issue description
  docs/content/DevelopmentPlan/DevelopmentPlan.md
Due: none

Clarify steering description as interpreter-based steering mechanism
  docs/content/ProblemStatementAndGoals/ProblemStatement.md
Due: none

Add entry to revision table
  docs/content/VnVPlan/VnVPlan.md
Due: none

Remove unnecessary file python style.md from DevelopmentPlan directory
  docs/content/DevelopmentPlan/python style.md
  docs/content/DevelopmentPlan/python-style.md
Due: none

Apply neccessary formatting using morph:format
  docs/content/DevelopmentPlan/DevelopmentPlan.md
  docs/content/ProblemStatementAndGoals/ProblemStatement.md
Due: none

chore: only to generate suggestions in schema
  python/asteraceae/libs/protocol.py
  python/asteraceae/service.py
Due: bentoml

chore: add codemirror search ref
  packages/morph/app/globals.css
  packages/morph/components/editor.tsx
  packages/morph/components/note-panel.tsx
  packages/morph/components/parser/codemirror/index.ts
  packages/morph/components/parser/codemirror/search-panel.tsx
  packages/morph/components/parser/codemirror/search.tsx
  packages/morph/components/rails.tsx
  packages/morph/components/ui/checkbox.tsx
  packages/morph/components/ui/icons.tsx
  packages/morph/package.json
  packages/morph/services/agents.ts
  pnpm-lock.yaml
Due: next

feat: big big big
  packages/morph/app/page.tsx
  packages/morph/app/vaults/[vault]/page.tsx
  packages/morph/app/vaults/page.tsx
  packages/morph/components/author-processor.tsx
  packages/morph/components/editor.tsx
  packages/morph/components/landing/pixelated-scene.tsx
  packages/morph/components/note-panel.tsx
  packages/morph/components/parser/codemirror/grep-panel.tsx
  packages/morph/components/parser/codemirror/search.tsx
  packages/morph/components/rails.tsx
  packages/morph/components/settings-panel.tsx
  packages/morph/context/authors.tsx
  packages/morph/context/providers.tsx
  packages/morph/context/steering.tsx
  packages/morph/db/schema.ts
  packages/morph/generated/migrations.json
  packages/morph/hooks/use-persisted-settings.tsx
  packages/morph/package.json
  packages/morph/services/authors.ts
  pnpm-lock.yaml
Due: next

chore: update styling for search components
  packages/morph/components/parser/codemirror/search-panel.tsx
  packages/morph/components/parser/codemirror/search.tsx
Due: next

chore: update some styling
  packages/morph/components/embedding-status.tsx
Due: next

feat: first version of context-aware notes
  packages/morph/components/context-notes.tsx
  packages/morph/components/dnd.tsx
  packages/morph/components/editor.tsx
  packages/morph/package.json
  packages/morph/services/context-aware-notes.ts
  pnpm-lock.yaml
Due: next

feat: update some tiny stuff wrt to interaction, let's merge
  packages/morph/components/context-notes.tsx
  packages/morph/components/editor.tsx
  packages/morph/lib/index.ts
  packages/morph/package.json
  packages/morph/services/agents.ts
  packages/morph/services/context-aware-notes.ts
  pnpm-lock.yaml
Due: next

chore: initial interop with dropped notes and context notes
  packages/morph/components/context-notes.tsx
  packages/morph/components/editor.tsx
  packages/morph/components/note-group.tsx
Due: next

chore: responsive
  packages/morph/components/context-notes.tsx
Due: next

chore: update default prompts
  python/asteraceae/SYSTEM_PROMPT.md
  python/asteraceae/service.py
Due: bentoml

chore: update eslint error
  packages/morph/components/context-notes.tsx
  packages/morph/components/editor.tsx
  packages/morph/components/landing/pixelated-scene.tsx
  packages/morph/components/note-group.tsx
  packages/morph/components/parser/codemirror/grep-panel.tsx
  packages/morph/components/reasoning-panel.tsx
  packages/morph/components/settings-panel.tsx
  packages/morph/context/providers.tsx
Due: next

Remove first-person language from Python coding style guide
  docs/content/DevelopmentPlan/style.md
Due: none

chore: update deployment configuration
  python/asteraceae/deploy.yaml
  python/asteraceae/sendoff.sh
  python/asteraceae/swarm.sh
Due: bentoml

chore: fix lint error
  packages/morph/services/context-aware-notes.ts
Due: next

chore: update sysprompt
  python/asteraceae/SYSTEM_PROMPT.md
Due: bentoml

chore: improve general styling
  packages/morph/components/context-notes.tsx
  packages/morph/components/editor.tsx
  packages/morph/components/note-group.tsx
  packages/morph/components/note-panel.tsx
Due: next

Update docs/content/DevelopmentPlan/DevelopmentPlan.md
  docs/content/DevelopmentPlan/DevelopmentPlan.md
Due: none

chore: disable tools
  packages/morph/components/editor.tsx
  packages/morph/services/authors.ts
Due: next

Reword intro sentence to avoid repeating project name
  docs/content/ProblemStatementAndGoals/ProblemStatement.md
Due: none
