Repository aarnphm/morph: changes, and which pre-commit hooks are due for each by the changed paths.
All: bentoml, next

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (pnpm-lock.yaml|emojimap.json)
      - id: end-of-file-fixer
        exclude: (pnpm-lock.yaml|emojimap.json)
      - id: check-yaml
        exclude: (pnpm-lock.yaml|emojimap.json)
      - id: check-added-large-files
        exclude: (pnpm-lock.yaml|emojimap.json)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.2
    hooks:
      - id: ruff
        args:
          [--fix, --exit-non-zero-on-fix, --show-fixes, --config=pyproject.toml]
        files: ^python/
      - id: ruff-format
        args: [--config=pyproject.toml]
        files: ^python/
  - repo: local
    hooks:
      - id: bentoml
        name: BentoML build
        entry: pnpm run -w morph:inference:build
        language: system
        pass_filenames: false
        files: ^python/
        types: [file]
        verbose: true
      - id: next
        name: Next.js build
        entry: pnpm run -w morph:build
        language: system
        pass_filenames: false
        files: ^packages/morph/
        types: [file]
        verbose: true

revert: remove dynaclass
  python/asteraceae/README.md
  python/asteraceae/libs/helpers.py
  python/asteraceae/service.py
Due: bentoml

chore: cleanup services
  python/asteraceae/.bentoignore
  python/asteraceae/libs/helpers.py
  python/asteraceae/libs/protocol.py
  python/asteraceae/pyproject.toml
  python/asteraceae/service.py
  uv.lock
Due: bentoml

chore: add embeddings back
  packages/morph/db/schema.ts
  python/asteraceae/libs/protocol.py
  python/asteraceae/pyproject.toml
  python/asteraceae/service.py
  uv.lock
Due: bentoml, next

chore: update based
  .pre-commit-config.yaml
  packages/morph/db/schema.ts
  packages/morph/drizzle.config.ts
  packages/morph/migrations/meta/0000_snapshot.json
  packages/morph/migrations/meta/_journal.json
  packages/morph/package.json
  pnpm-lock.yaml
  python/asteraceae/service.py
Due: bentoml, next

chore: remove proxy
  python/asteraceae/libs/protocol.py
  python/asteraceae/service.py
Due: bentoml

chore: update service logics
  python/asteraceae/libs/protocol.py
  python/asteraceae/service.py
Due: bentoml

chore: exposed httpx raw client
  python/asteraceae/pyproject.toml
  python/asteraceae/service.py
Due: bentoml

chore: use raw HTTPX client
  python/asteraceae/service.py
Due: bentoml

feat: proxied clients
  python/asteraceae/pyproject.toml
  python/asteraceae/service.py
  uv.lock
Due: bentoml

Refine problem statement and clarify core inputs/outputs
  docs/content/ProblemStatementAndGoals/ProblemStatement.md
Due: none

Reframe environment section to focus on intended usage context
  docs/content/ProblemStatementAndGoals/ProblemStatement.md
Due: none

Expand goals with motivation and revise stakeholder framing
  docs/content/ProblemStatementAndGoals/ProblemStatement.md
Due: none

Update challenge level section to replace extras with User Manual and Usability Testing
  docs/content/ProblemStatementAndGoals/ProblemStatement.md
Due: none

Add detailed team reflections and scope adjustments for deliverable
  docs/content/ProblemStatementAndGoals/ProblemStatement.md
Due: none

Refactor team roles for clarity and remove BDFL reference
  docs/content/DevelopmentPlan/DevelopmentPlan.md
Due: none

Expand git workflow section with issue templates, labels, and board structure
  docs/content/DevelopmentPlan/DevelopmentPlan.md
Due: none

Rewrite POC plan for clarity and accessibility to non-technical readers
  docs/content/DevelopmentPlan/DevelopmentPlan.md
Due: none

chore: add a script for swarm locally
  .gitignore
  python/asteraceae/.bentoignore
  python/asteraceae/.gitignore
  python/asteraceae/README.md
  python/asteraceae/pyproject.toml
  python/asteraceae/service.py
  python/asteraceae/swarm.sh
Due: bentoml

chore: simplify implementations
  python/asteraceae/service.py
Due: bentoml

chore: wip
  packages/morph/app/layout.tsx
  packages/morph/app/page.tsx
  packages/morph/compile-migrations.ts
  packages/morph/components/editor.tsx
  packages/morph/components/landing/pixelated-loading.tsx
  packages/morph/components/landing/pixelated-scene.tsx
  packages/morph/components/markdown-inline.ts
  packages/morph/components/note-card.tsx
  packages/morph/components/note-group.tsx
  packages/morph/components/note-panel.tsx
  packages/morph/components/parser/index.ts
  packages/morph/components/rails.tsx
  packages/morph/components/reasoning-panel.tsx
  packages/morph/components/search-command.tsx
  packages/morph/components/settings-panel.tsx
  packages/morph/context/db.tsx
  packages/morph/context/providers.tsx
  packages/morph/context/search.tsx
  packages/morph/context/vault-reducer.ts
  packages/morph/context/vault.tsx
  packages/morph/db/client.ts
  packages/morph/db/index.ts
  packages/morph/db/interfaces.ts
  packages/morph/db/schema.ts
  packages/morph/eslint.config.mjs
  packages/morph/generated/migrations.json
  packages/morph/hooks/use-database-models.ts
  packages/morph/hooks/use-fs-handles.ts
  packages/morph/hooks/use-persisted-settings.ts
  packages/morph/lib/db.tsx
  packages/morph/lib/pglite.ts
  packages/morph/migrations/0000_mighty_charles_xavier.sql
  packages/morph/migrations/meta/0000_snapshot.json
  packages/morph/migrations/meta/_journal.json
  packages/morph/next.config.ts
  packages/morph/package.json
Due: next

chore: increase context length
  python/asteraceae/service.py
  python/asteraceae/swarm.sh
Due: bentoml

chore --wip--
  .pre-commit-config.yaml
  packages/morph/.gitignore
  packages/morph/app/vaults/page.tsx
  packages/morph/components/dnd.tsx
  packages/morph/components/editor.tsx
  packages/morph/components/landing/pixelated-loading.tsx
  packages/morph/components/landing/pixelated-scene.tsx
  packages/morph/components/note-card.tsx
  packages/morph/components/note-group.tsx
  packages/morph/components/parser/index.ts
  packages/morph/components/settings-panel.tsx
  packages/morph/components/steering-panel.tsx
  packages/morph/context/providers.tsx
  packages/morph/context/search.tsx
  packages/morph/context/vault.tsx
  packages/morph/db/interfaces.ts
  packages/morph/db/schema.ts
  packages/morph/generated/migrations.json
  packages/morph/hooks/use-database-models.ts
  packages/morph/hooks/use-fs-handles.ts
  packages/morph/lib/index.ts
  packages/morph/lib/notes.ts
  packages/morph/migrations/0000_mighty_charles_xavier.sql
  packages/morph/migrations/meta/0000_snapshot.json
  packages/morph/migrations/meta/_journal.json
  packages/morph/package.json
Due: next

Refine development plan with team reflections and non-first-person phrasing
  docs/content/DevelopmentPlan/DevelopmentPlan.md
  docs/content/DevelopmentPlan/python-style.md
Due: none

chore: remove logs for now
  python/asteraceae/libs/protocol.py
  python/asteraceae/logging-config.json
  python/asteraceae/service.py
  python/asteraceae/swarm.sh
Due: bentoml

Adjust meeting schedule
  docs/content/DevelopmentPlan/DevelopmentPlan.md
  docs/content/ProblemStatementAndGoals/ProblemStatement.md
Due: none

chore: update notes logics and chunked prefill
  packages/morph/components/dnd.tsx
  packages/morph/components/editor.tsx
  packages/morph/components/note-card.tsx
  packages/morph/components/note-group.tsx
  python/asteraceae/service.py
Due: bentoml, next

chore: add logics to disable logs
  python/asteraceae/service.py
  python/asteraceae/swarm.sh
Due: bentoml

chore: set chunked prefill to false for pooling models
  python/asteraceae/service.py
Due: bentoml

SRS update for FR and NFR adjustment
  docs/content/SRS/SRS.md
Due: none

chore: make sure to render history correctly
  packages/morph/components/editor.tsx
  packages/morph/components/note-panel.tsx
Due: next

--wip animations--
  packages/morph/components/note-card.tsx
  packages/morph/components/note-group.tsx
  packages/morph/components/note-panel.tsx
  packages/morph/components/reasoning-panel.tsx
  packages/morph/lib/index.ts
Due: next

chore: fix transitions
  packages/morph/components/editor.tsx
  packages/morph/components/note-card.tsx
  packages/morph/components/note-group.tsx
  packages/morph/components/note-panel.tsx
  packages/morph/components/reasoning-panel.tsx
  packages/morph/context/providers.tsx
Due: next

chore: update styling
  packages/morph/components/editor.tsx
  packages/morph/components/note-card.tsx
  packages/morph/components/note-group.tsx
  packages/morph/components/note-panel.tsx
Due: next

chore: update logics
  packages/morph/components/landing/pixelated-scene.tsx
  packages/morph/components/note-group.tsx
  packages/morph/components/note-panel.tsx
  packages/morph/components/reasoning-panel.tsx
Due: next

SRS update for issue 105
  docs/content/SRS/SRS.md
Due: none

chore: update animations and railing
  packages/morph/components/rails.tsx
  packages/morph/components/reasoning-panel.tsx
  packages/morph/components/steering-panel.tsx
  packages/morph/public/icon.png
Due: next
