Repository aarnphm/morph: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, bentoml, next

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (pnpm-lock.yaml|emojimap.json|migrations/)
      - id: end-of-file-fixer
        exclude: (pnpm-lock.yaml|emojimap.json|migrations/)
      - id: check-yaml
        exclude: (pnpm-lock.yaml)
      - id: check-added-large-files
        exclude: (pnpm-lock.yaml|emojimap.json|migrations/)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.2
    hooks:
      - id: ruff
        args:
          [--fix, --exit-non-zero-on-fix, --show-fixes, --config=pyproject.toml]
        files: ^python/
      - id: ruff-format
        args: [--config=pyproject.toml]
        files: ^python/
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: pnpm run -w morph:format
        language: system
        pass_filenames: false
        files: ^packages/morph/
        types: [file, javascript, jsx, ts, tsx, json, css, markdown, yaml]
        verbose: true
      - id: eslint
        name: ESLint
        entry: pnpm run -w morph:lint
        language: system
        pass_filenames: false
        files: ^packages/morph/
        types: [file, javascript, jsx, ts, tsx]
        verbose: true
      - id: bentoml
        name: BentoML build
        entry: pnpm run -w morph:inference:build
        language: system
        pass_filenames: false
        files: ^python/
        types: [file]
        verbose: true
      - id: next
        name: Next.js build
        entry: pnpm run -w morph:build
        language: system
        pass_filenames: false
        files: ^packages/morph/
        types: [file]
        verbose: true

SRS update for issue 106
  docs/content/SRS/BUC.png
  docs/content/SRS/SRS.md
Due: none

SRS update for issue 107
  docs/content/SRS/product-boundary.png
Due: none

--wip--
  packages/morph/components/editor.tsx
  packages/morph/components/note-group.tsx
  packages/morph/components/note-panel.tsx
Due: next

SRS update for feedback
  docs/content/SRS/SRS.md
Due: none

chore: perf and dragging
  packages/morph/app/vaults/page.tsx
  packages/morph/components/dnd.tsx
  packages/morph/components/editor.tsx
  packages/morph/components/landing/pixelated-loading.tsx
  packages/morph/components/note-group.tsx
  packages/morph/components/rails.tsx
  packages/morph/next.config.ts
  packages/morph/package.json
  pnpm-lock.yaml
Due: next

fix: render only once to reduce duplicitous animations
  packages/morph/app/layout.tsx
  packages/morph/app/template.tsx
  packages/morph/components/editor.tsx
  packages/morph/components/landing/pixelated-loading.tsx
  packages/morph/components/note-panel.tsx
  packages/morph/components/rails.tsx
  packages/morph/context/providers.tsx
Due: next

chore: update big big migrations poggers
  packages/morph/app/template.tsx
  packages/morph/app/vaults/page.tsx
  packages/morph/components/editor.tsx
  packages/morph/components/landing/pixelated-loading.tsx
  packages/morph/components/note-group.tsx
  packages/morph/components/note-panel.tsx
  packages/morph/components/rails.tsx
  packages/morph/context/file-restoration.tsx
  packages/morph/context/providers.tsx
  packages/morph/context/vault.tsx
  packages/morph/db/interfaces.ts
  packages/morph/db/schema.ts
  packages/morph/generated/migrations.json
  packages/morph/hooks/use-database-models.ts
  packages/morph/package.json
  packages/morph/services/constants.ts
  packages/morph/services/embedding.ts
  packages/morph/services/openapi-spec.json
  pnpm-lock.yaml
Due: next

chore: make sure to only load file path on request
  packages/morph/app/vaults/[vault]/page.tsx
  packages/morph/app/vaults/page.tsx
  packages/morph/components/editor.tsx
  packages/morph/context/providers.tsx
Due: next

chore: update runner
  .github/workflows/morph-build.yml
Due: none

fix: disable useless warning
  packages/morph/components/editor.tsx
  packages/morph/components/note-group.tsx
  packages/morph/components/rails.tsx
  packages/morph/context/providers.tsx
  packages/morph/eslint.config.mjs
Due: next

fix: disable useless warning
  packages/morph/components/rails.tsx
  packages/morph/eslint.config.mjs
Due: next

chore: embedded steering
  packages/morph/components/editor.tsx
  packages/morph/components/note-panel.tsx
  packages/morph/components/steering-panel.tsx
Due: next

fix: eslint problem
  packages/morph/components/editor.tsx
  packages/morph/eslint.config.mjs
  packages/morph/package.json
  pnpm-lock.yaml
Due: next

fix: eslint and prettier error
  packages/morph/.prettierignore
  packages/morph/app/vaults/page.tsx
  packages/morph/components/note-panel.tsx
  packages/morph/components/steering-panel.tsx
  packages/morph/context/vault.tsx
  packages/morph/eslint.config.mjs
  packages/morph/package.json
  packages/morph/services/embedding.ts
  pnpm-lock.yaml
Due: next

feat: tool call for author search
  packages/morph/components/editor.tsx
  packages/morph/components/embedding-processor.tsx
  packages/morph/components/embedding-status.tsx
  packages/morph/components/note-group.tsx
  packages/morph/components/note-panel.tsx
  packages/morph/context/embedding.tsx
  packages/morph/context/providers.tsx
  packages/morph/db/interfaces.ts
  packages/morph/db/schema.ts
  packages/morph/generated/migrations.json
  packages/morph/services/constants.ts
  packages/morph/services/embedding.ts
  python/asteraceae/TOOL_CALLING.md
  python/asteraceae/libs/protocol.py
  python/asteraceae/pyproject.toml
  python/asteraceae/service.py
  uv.lock
Due: bentoml, next

chore: add supported for notes retrieved from finding most similar notes
  python/asteraceae/SYSTEM_PROMPT.md
  python/asteraceae/service.py
  python/asteraceae/swarm.sh
Due: bentoml

chore: improve tool prompt
  python/asteraceae/TOOL_CALLING.md
Due: bentoml

chore: update similar contents for prompt
  python/asteraceae/TOOL_CALLING.md
  python/asteraceae/service.py
Due: bentoml

chore: working tool calling for search authors and sampling
  packages/morph/services/openapi-spec.json
  python/asteraceae/TOOL_CALLING.md
  python/asteraceae/service.py
Due: bentoml, next

chore: update chunker implementation
  packages/morph/components/editor.tsx
  packages/morph/services/embedding.ts
  python/asteraceae/libs/protocol.py
  python/asteraceae/service.py
Due: bentoml, next

chore: update documents and stuff
  python/asteraceae/README.md
  python/asteraceae/libs/protocol.py
  python/asteraceae/service.py
Due: bentoml

chore: feat embeddings go brrrrr
  packages/morph/app/vaults/[vault]/page.tsx
  packages/morph/app/vaults/page.tsx
  packages/morph/components/editor.tsx
  packages/morph/components/embedding-processor.tsx
  packages/morph/components/embedding-status.tsx
  packages/morph/components/essay-embedding-processor.tsx
  packages/morph/components/note-embedding-processor.tsx
  packages/morph/components/note-group.tsx
  packages/morph/components/rails.tsx
  packages/morph/context/embedding.tsx
  packages/morph/context/providers.tsx
  packages/morph/db/schema.ts
  packages/morph/generated/migrations.json
  packages/morph/services/constants.ts
  packages/morph/services/essays.ts
  packages/morph/services/notes.ts
  packages/morph/services/openapi-spec.json
Due: next

chore: update config for qwq
  python/asteraceae/service.py
Due: bentoml

chore: use deepseek for now
  python/asteraceae/service.py
Due: bentoml

chore: enable rope for qwq
  python/asteraceae/TOOL_CALLING.md
  python/asteraceae/service.py
Due: bentoml

refactor: move formatDate out
  package.json
  packages/morph/components/editor.tsx
  packages/morph/components/formatted-date.tsx
  packages/morph/components/note-group.tsx
  packages/morph/components/note-panel.tsx
  packages/morph/lib/index.ts
  packages/morph/services/agents.ts
  python/asteraceae/Makefile
Due: bentoml, next

SRS update for trasibility matrix
  docs/content/SRS/SRS.md
Due: none

SRS update for traceability matrix and substitute
  docs/content/SRS/SRS.md
Due: none

SRS update for Rev 1
  docs/content/SRS/SRS.md
Due: none

SRS update for FR and NFR adjustment
  docs/content/SRS/SRS.md
Due: none

SRS update for issue 105
  docs/content/SRS/SRS.md
Due: none
