Repository aarnphm/morph: changes, and which pre-commit hooks are due for each by the changed paths.
All: next-build, bentoml-build

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: pnpm-lock.yaml
      - id: end-of-file-fixer
        exclude: pnpm-lock.yaml
      - id: check-yaml
        exclude: pnpm-lock.yaml
      - id: check-added-large-files
        exclude: pnpm-lock.yaml
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.0
    hooks:
      - id: ruff
        args: [--fix, --config=pyproject.toml]
        files: ^python/
      - id: ruff-format
        args: [--config=pyproject.toml]
        files: ^python/
  - repo: local
    hooks:
      - id: next-build
        name: Next.js build
        entry: bash -c "pnpm run -w morph:build"
        language: system
        pass_filenames: false
        files: ^packages/morph/
        types: [file]
      - id: bentoml-build
        name: BentoML build
        entry: bash -c "pnpm run -w morph:inference:build"
        language: system
        pass_filenames: false
        files: ^python/
        types: [file]

--wip--
  packages/morph/app/globals.css
  packages/morph/app/page.tsx
  packages/morph/app/vaults/page.tsx
  packages/morph/components/landing/page-transition.tsx
  python/asteraceae/pyproject.toml
Due: next-build, bentoml-build

feat: banners and stuff
  packages/morph/app/vaults/page.tsx
Due: next-build

chore: update stuff
  packages/morph/app/template.tsx
  packages/morph/app/vaults/[vault]/page.tsx
  packages/morph/app/vaults/page.tsx
  packages/morph/components/editor.tsx
  packages/morph/components/rails.tsx
Due: next-build

feat: banners research, suggestions highlighting, and more visual cues (#321)
  packages/morph/app/globals.css
  packages/morph/app/page.tsx
  packages/morph/app/template.tsx
  packages/morph/app/vaults/[vault]/page.tsx
  packages/morph/app/vaults/page.tsx
  packages/morph/components/editor.tsx
  packages/morph/components/landing/page-transition.tsx
  packages/morph/components/rails.tsx
  python/asteraceae/pyproject.toml
Due: next-build, bentoml-build

chore: update dependencies
  packages/morph/package.json
  pnpm-lock.yaml
Due: next-build

chore: add support for steering
  packages/morph/components/editor.tsx
  packages/morph/components/reasoning-panel.tsx
  python/asteraceae/SYSTEM_PROMPT.md
Due: next-build, bentoml-build

chore: update prompts
  packages/morph/components/editor.tsx
  python/asteraceae/SYSTEM_PROMPT.md
  python/asteraceae/service.py
  uv.lock
Due: next-build, bentoml-build

--wip--
  packages/morph/components/editor.tsx
  packages/morph/components/steering-panel.tsx
  packages/morph/components/steering/authors-selector.tsx
  packages/morph/components/steering/constants.ts
  packages/morph/components/steering/index.ts
  packages/morph/components/steering/suggestions-slider.tsx
  packages/morph/components/steering/temperature-slider.tsx
  packages/morph/components/steering/tonality-radar.tsx
  packages/morph/db.ts
  python/asteraceae/service.py
Due: next-build, bentoml-build

feat: migrate to using context for correctness
  packages/morph/components/editor.tsx
  packages/morph/components/rails.tsx
  packages/morph/components/reasoning-panel.tsx
  packages/morph/components/steering-panel.tsx
  packages/morph/components/steering/authors-selector.tsx
  packages/morph/components/steering/constants.ts
  packages/morph/components/steering/index.ts
  packages/morph/components/steering/suggestions-slider.tsx
  packages/morph/components/steering/temperature-slider.tsx
  packages/morph/components/steering/tonality-radar.tsx
  packages/morph/context/steering-context.tsx
  python/asteraceae/README.md
  python/asteraceae/protocol.py
  python/asteraceae/service.py
Due: next-build, bentoml-build

chore: gated via DEVELOPMENT envvar
  python/asteraceae/protocol.py
  python/asteraceae/service.py
Due: bentoml-build

chore: update README
  python/asteraceae/README.md
Due: bentoml-build

chore: stabilize animation
  packages/morph/components/rails.tsx
Due: next-build

chore: fix unlimited render
  packages/morph/components/editor.tsx
  packages/morph/components/reasoning-panel.tsx
  packages/morph/components/steering-panel.tsx
Due: next-build

chore: update healthcheck
  python/asteraceae/service.py
Due: bentoml-build

chore: run autoupdate [precommit][generated]
  .pre-commit-config.yaml
Due: none

chore: cleanup hierachy
  python/asteraceae/libs/__init__.py
  python/asteraceae/libs/protocol.py
  python/asteraceae/service.py
Due: bentoml-build

chore: cleanup hierachy
  python/asteraceae/libs/protocol.py
  python/asteraceae/service.py
Due: bentoml-build

chore: update frontend logics
  packages/morph/app/vaults/page.tsx
  packages/morph/components/editor.tsx
  packages/morph/components/rails.tsx
Due: next-build

feat: added usage stats support
  python/asteraceae/libs/protocol.py
  python/asteraceae/service.py
Due: bentoml-build

fix: build
  .pre-commit-config.yaml
  packages/morph/components/editor.tsx
  packages/morph/components/rails.tsx
  packages/morph/components/steering-panel.tsx
  packages/morph/context/steering-context.tsx
Due: next-build

chore: update some default value
  packages/morph/app/vaults/page.tsx
  packages/morph/components/editor.tsx
  packages/morph/components/steering-panel.tsx
Due: next-build

feat: steering and more customization (#323)
  .pre-commit-config.yaml
  packages/morph/app/vaults/page.tsx
  packages/morph/components/editor.tsx
  packages/morph/components/rails.tsx
  packages/morph/components/reasoning-panel.tsx
  packages/morph/components/steering-panel.tsx
  packages/morph/context/steering-context.tsx
  packages/morph/db.ts
  python/asteraceae/README.md
  python/asteraceae/SYSTEM_PROMPT.md
  python/asteraceae/libs/__init__.py
  python/asteraceae/libs/protocol.py
  python/asteraceae/service.py
  uv.lock
Due: next-build, bentoml-build

chore: only save notes when it is not untitled
  packages/morph/components/editor.tsx
Due: next-build

chore: cleanup services
  packages/morph/components/editor.tsx
  python/asteraceae/service.py
Due: next-build, bentoml-build

chore: add indicator for offline mode
  packages/morph/components/editor.tsx
  packages/morph/components/steering-panel.tsx
Due: next-build

chore: update clients
  python/asteraceae/service.py
Due: bentoml-build

Add mobile support notification popup on landing page
  packages/morph/app/page.tsx
Due: next-build

feat: ingestion pipeline
  .gitignore
  python/asteraceae/libs/protocol.py
  python/asteraceae/pyproject.toml
  python/asteraceae/service.py
  uv.lock
Due: bentoml-build

feat: add mobile support notification popup on landing page (#327)
  packages/morph/app/page.tsx
Due: next-build

feat: pglite and similarity search
  packages/morph/app/layout.tsx
  packages/morph/components/editor.tsx
  packages/morph/context/pglite-context.tsx
  packages/morph/db.ts
  packages/morph/lib/pglite.ts
  packages/morph/package.json
  pnpm-lock.yaml
  python/asteraceae/service.py
Due: next-build, bentoml-build

chore: custom transformers
  python/asteraceae/service.py
Due: bentoml-build

feat: embedding matcher (#326)
  .gitignore
  packages/morph/app/layout.tsx
  packages/morph/components/editor.tsx
  packages/morph/components/steering-panel.tsx
  packages/morph/context/pglite-context.tsx
  packages/morph/db.ts
  packages/morph/lib/pglite.ts
  packages/morph/package.json
  pnpm-lock.yaml
  python/asteraceae/libs/protocol.py
  python/asteraceae/pyproject.toml
  python/asteraceae/service.py
  uv.lock
Due: next-build, bentoml-build

chore: make rerank as a task
  python/asteraceae/libs/protocol.py
  python/asteraceae/service.py
Due: bentoml-build

fix: correct set env for building hnswlib
  python/asteraceae/service.py
Due: bentoml-build

chore: cleanup helpers to reduce code change
  python/asteraceae/libs/helpers.py
  python/asteraceae/libs/protocol.py
  python/asteraceae/service.py
Due: bentoml-build

--wip--
  packages/morph/app/vaults/[vault]/page.tsx
  packages/morph/components/editor.tsx
  packages/morph/db.ts
  packages/morph/lib/pglite.ts
  packages/morph/package.json
  packages/morph/services/embeddingService.ts
  pnpm-lock.yaml
Due: next-build

chore: update helpers
  python/asteraceae/libs/helpers.py
Due: bentoml-build

chore: update meta generatios
  python/asteraceae/libs/helpers.py
  python/asteraceae/libs/protocol.py
  python/asteraceae/service.py
Due: bentoml-build

chore: update docstring
  python/asteraceae/libs/helpers.py
Due: bentoml-build
